{% extends 'base.html.twig' %}

{% block title %}Image index{% endblock %}

{% block body %}
    <h1>Image index</h1>
        <div id="app">
        </div>
    <a href="{{ path('app_image_new') }}">Create new</a>
{% endblock %}
